body {
    font-family: "Roboto", sans-serif;
    font-size: 400;
    color:#434455;
    background-color: #FFFFFF;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4d5ae5;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
#logo{
    color: #2e2f42 ;
    font-family: "Raleway", sans-serif;
    
}
.address{
    font-style: normal;
    color: #434455;
}
h1, h2{
    text-align: center;
    font-weight: 700;
    font-size: 56px;
}
h2{
    font-size: 36px;
}
h3{
    font-weight: 500;
}
.buttom{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.ref{
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    line-height: 1.5;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color:  #2e2f42;
}
.ref1{
     font-family: "Raleway", sans-serif;
     text-decoration: none;
     line-height: 1.5;
     font-weight: 500;
     font-size: 16px;
     letter-spacing: 0.02em;
     color: #434455;
}
.ref :hover, :active, :focus{
    color:#404bbf;   
}
.ref1 {
   color:#404bbf;   
}
